@import "tailwindcss";
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bolder;
}
 h2{
  font-size: 2em;
  line-height: 1.1;
  font-weight: bolder;
} 
h3{
  font-size: 1.8em;
  line-height: 1.1;
  font-weight: bolder;
}
h4{
  font-size: 1.6em;
  line-height: 1.1;
  font-weight: bolder;
}
h5{
  font-size: 1.4em;
  line-height: 1.1;
  font-weight: bolder;
}
h6{
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: bolder;
}
body{
  background-color: rgb(217, 246, 217);
}